body {
  font-family: sans-serif;
  color: #252525;
}
a {
  color: #252525;
  text-decoration: none;
}
.active {
  color: #5dc6b0;
}
.docplanner-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.docplanner-logo {
  color: #5dc6b0;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.introduction-logo {
  width: 50px;
  height: 50px;
  background-color: #5dc6b0;
}
.introduction-title {
  color: #5dc6b0;
}
.introduction-text {
  display: flex;
}
.services {
  display: flex;
}
.service-card-patients {
  background-color: #00ccb1;
}
.service-card-doctors {
  background-color: #3d83df;
}
.below {
  display: flex;
  justify-content: space-around;
}
.titleee {
  color: #5dc6b0;
}
.links {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.main-title {
  color: #00b3b5;
}
.main-text {
  color: #7583e1;
}
.main-countries {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}
.horizantal {
  display: flex;
}
.button {
  color: white;
  padding: 10px 25px;
  background-color: blue;
  border: 1px solid;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
.awesome {
  border-radius: 5px;
}
.final {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  font-size-adjust: 3px;
}
.below-title {
  color: #00b3b5;
}
.mediumm {
  color: #5dc6b0;
}
.final-final {
  color: #abb3c9;
}
